tags
*.txt
*.S
!start.S
*.d
*.o
!testcase/*.S
*~
tags
note

ram_init_gen/*.c
ram_init_gen/*.s
ram_init_gen/*.coe
ram_init_gen/*.txt
ram_init_gen/boot*

.clang_complete

src/chisel
!src/chisel/build.sbt
!src/chisel/*.scala
